/* product */
.constainer {
  margin-top: 100px;
}

.gambar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid rgb(199, 199, 199);
}

.image {
  display: inline;
}

.productClose {
  position: absolute;
  transform: translate(-150%, 40%);
  background-color: transparent;
  border: none;
  padding: 1px 6px;
}

.btnImg {
  width: 100px;
  height: 100px;
  background-color: rgb(238, 238, 238);
  border: 0;
  color: rgb(199, 199, 199);
}

.inputStock {
  height: 40px !important;
}

.btnImg:hover,
.fa-plus:hover {
  background-color: rgb(199, 199, 199);
  color: rgb(238, 238, 238);
}

.dropcate {
  border: 1px solid rgb(212, 212, 212);
  padding: 0;
}

.dropcate2 {
  border: 1px solid rgb(255, 255, 255);
}

.dropcatemenu {
  background-color: white !important;
  border: 1px solid rgb(212, 212, 212);
  width: 100%;
  padding: 0;
  margin: 0;
}
/* product */

/* .fa-plus {
  color: rgb(161, 161, 161);
} */

/* Navbar */
/* .form-inline {
  border-radius: 20px;
} */
/* .badge {
  background-color: red;
  font-size: 10px;
} */
/* .navbar2 {
  margin-top: 40px;
  background-color: rgb(255, 255, 255) !important;
  height: 60px;
  padding: 0px 30px;
  border-bottom: 1px solid rgb(199, 199, 199);
} */
.navaccount {
  padding: 10px;
  background-color: white !important;
  right: -30px !important;
  border: 1px solid rgb(99, 99, 99);
}
.navbar {
  background-color: rgb(255, 255, 255) !important;
  padding: 0px 30px;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
}
.navtext {
  color: rgb(0, 0, 0) !important;
}
.navtext:hover {
  color: rgb(99, 99, 99) !important;
}
.navsearch {
  padding: 10px;
  background-color: white !important;
  right: -100px !important;
  border: 1px solid rgb(99, 99, 99);
}
.navsearch input {
  width: 300px;
}
.joinlogin,
.myaccount {
  font-weight: 100;
  font-size: 13px;
}
.fontcategory {
  font-weight: bolder;
  font-size: 16px;
  padding: 10px 0px;
}
.dropdown-item {
  padding: 0px;
}
.namedropnav {
  padding: 5px 10px;
}
.dropdown-item:active,
.dropdown-item:hover {
  background-color: rgb(241, 241, 241);
  color: black;
}
.namedropnav:focus,
.namedropnav:active {
  outline-color: rgb(241, 241, 241) !important;

  /* shape-outside: none;
  text-shadow: none; */
}
/* Navbar */

/* Home */

div .homeCaro {
  padding: 0px 30px;
}

div .homeCate {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 30px;
}

.men {
  background-image: url("https://c.static-nike.com/a/images/f_auto,b_rgb:f5f5f5,w_880/lerifbk0kfytxxdmhmlg/epic-react-flyknit-2-running-shoe-ShRZnm.jpg");
  width: 630px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
}

.women {
  background-image: url("https://c.static-nike.com/a/images/f_auto,b_rgb:f5f5f5,w_880/h4qt5et2ta3o7g32jlm3/epic-react-flyknit-2-running-shoe-Jhl3Kb.jpg");
  width: 630px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
}

.home .d-flex p {
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}
.titlebestseller,
.titlenewarrival {
  margin: 30px 30px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0;
}
div.scrollmenu {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  white-space: nowrap;
  /* margin-top: 30px; */
}

div.scrollmenu::-webkit-scrollbar {
  display: none;
}
.cardshop {
  border: 1px solid white;
  margin-bottom: 10px;
  width: 280px;
}
.cardshop:hover {
  border: 1px solid black;
}
.cardshop .imgshop {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.home .cardshop .textshop {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2px;
}

.img1 img {
  width: 300px;
  object-fit: cover;
  margin: 0;
  padding: 15px;
}

.img1:hover {
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
}
.img1 {
  background-color: rgb(245, 245, 245);
  width: 300px;
  /* height: 426px; */
  display: inline-block;
  margin: 15px;
  border: 1px solid rgb(245, 245, 245);
}

.men:hover,
.women:hover {
  border: 1px solid rgb(0, 0, 0);
  font-weight: 900;
}

/* .img1 p {
  margin: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
} */

/* Home */

/* Detail Product */
.detailProduct {
  margin-top: 130px;
  padding: 0px 50px;
}
.detailProduct img {
  width: 400px;
  margin: 5px;
}
.detailProduct div.row.justify-content-between .btnSizeDetail {
  width: 120px;
  margin: 5px 0px;
  box-shadow: none;
}
/* Detail Product */

/* Login */
.login {
  margin-top: 150px;
}

.login2 .form-control {
  border-radius: 0px;
  height: 50px;
  margin-top: 0px;
}
/* Login */

/* Account */
.photoProfile {
  text-align: center;
}

.photoProfile .profileClose {
  position: absolute;
  transform: translate(-110%, 10%);
  color: red;
  background-color: transparent;
  border: none;
  padding: 2px 8px;
}

.photoProfile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border-radius: 50px; */
}

.btnModal {
  margin-left: 80px;
}

.account {
  margin-top: 100px;
}

.account .name {
  margin-bottom: 80px;
}

.account .list-group-item {
  padding-left: 0;
}

.btnsavedit {
  margin-left: 15px;
  width: 100px;
  float: right;
  border-radius: 0px;
}

.bortopbot {
  border-bottom: 0.5px solid rgb(161, 161, 161);
  border-top: 0.5px solid rgb(161, 161, 161);
  margin-top: 20px;

  /* padding-bottom: 50px; */
}

/* Account */

/* ManageProduct */
.manageproducts,
.manageuser {
  margin-top: 100px;
}
.manageproducts .list-group-item {
  padding-left: 0;
}
.manageproducts .mproduct {
  margin-bottom: 80px;
}
.table td {
  letter-spacing: 0;
  line-height: 13px;
  font-size: 12px;
  font-weight: 600;
}
.btnEditLink,
.btnDeleteLink {
  background-color: transparent;
  border: 0;
}

.btnEditLink:hover,
.btnDeleteLink:hover {
  color: rgb(136, 136, 136) !important;
}
.table td .btnEditLink,
.btnDeleteLink {
  font-size: 13px;
  font-weight: 900;
}
.table td .btnEditLink {
  color: orange;
}
.table td .btnDeleteLink,
.btnEditLink {
  color: red;
}
/* ManageProduct */

/* Address */
.AccountAddress .address {
  border: 1px solid rgb(199, 199, 199);
  padding: 20px;
  margin-bottom: 40px;
}
.AccountAddress .address .card-title {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-bottom: 10px;
}

.btnlink {
  background-color: transparent;
  border: 0;
}

.btnlink:hover {
  color: rgb(136, 136, 136);
}

.btnsetdefault {
  background-color: transparent;
  border: none;
}
/* Address */

/* Wishlist */
.wishlist {
  margin-top: 150px;
  padding: 0px 200px;
}

.wishlist h1 {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.wishlist .header {
  background-color: black;
  color: white;
  font-size: 30px;
  margin-left: auto;
  padding: 0px 10px;
}
.wishlist .body {
  padding: 40px 20px;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
}
.wishlist .body .imgwishlist {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.wishlist .body .text {
  margin-top: 100px;
  margin-left: 40px;
}
.wishlist .body h3 {
  font-size: 15px;
  font-weight: 900;
  line-height: 15px;
}
.wishlist .body p {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
}
.wishlist .body .tbody {
  border-top: 1px solid black;
}
.wishlist .body .tbody {
  padding: 30px 0px;
}
.wishlist .body .tbody img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.wishlist .body .tbody .detailProduct,
div.col-2 {
  margin-top: 40px;
}
/* Wishlist */

/* checkout */
.checkout {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 180px;
}
.checkout .titlecheckout {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.checkout .titlecheckout .address {
  background-color: rgb(245, 245, 245);
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 10px;
}
.checkout .headercheckout {
  background-color: black;
  color: white;
  padding: 10px;
}
.checkout .cartCheckout {
  margin-top: 25px;
  border: 1px solid black;
}
.checkout .cartCheckout .header {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 900;
}
.checkout .cartCheckout .body {
  background-color: rgb(245, 245, 245);
}
.checkout .cartCheckout .productCheckout {
  border-top: 1px solid black;
}
.checkout .cartCheckout img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.checkout .cartCheckout p {
  font-size: 12px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 12px;
}
.checkout .cartCheckout .productCheckout .product {
  margin: 15px 0px !important;
}
.checkout .inputCheckout {
  padding: 10px 30px;
}
.checkout .orderSummaryCheckout {
  border: 1px solid black;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}
.orderSummaryCheckout .header {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 900;
}
.orderSummaryCheckout .body {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 5px;
  padding: 10px;
}
.btnaddress {
  text-align: left;
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  width: 100%;
}
.btnaddress:hover {
  background-color: rgb(245, 245, 245);
}
.address .card-title {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-bottom: 10px;
}
.btnaddress .address {
  margin: 0;
  border: 1px solid black;
  padding: 10px;
}
.checkout .checkouttitle {
  font-size: 20px;
  font-weight: 900;
}
.checkout .titlecheckout form label {
  margin: 0px;
}
.checkout .titlecheckout .checkoutpayment {
  border: 3px solid black;
  padding: 8px;
  background-color: rgb(245, 245, 245);
}
.checkout .titlecheckout .checkoutpayment h4 {
  font-size: 15px;
  font-weight: 900;
}
.checkout .titlecheckout .shipment .dropdownCart {
  width: 150px;
}
.checkout .titlecheckout .shipment .dropdownHeader {
  padding: 10px 0;
}
.checkout .titlecheckout .shipment .dropCartMenu {
  padding: 0 10px;
}
.checkout .titlecheckout .shipment .d-inline-block {
  vertical-align: top;
}
.checkout .titlecheckout .shipment .shiper {
  line-height: 5px;
  margin-top: -5px;
}
.checkout .titlecheckout .shipment .shiper h1 {
  font-weight: 900;
  font-size: 20px;
}
.checkout .titlecheckout .shipment .shiper p {
  line-height: 1px;
  font-size: 15px;
}
.dropdownduration {
  line-height: 2px;
  margin: 4px 0;
}
.dropdownduration .price {
  font-size: 12px;
  font-weight: 900;
  color: orange;
}
.titleCheck {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  border-bottom: 1px solid black;
}
/* .address .bodyCheck {
  margin: 0 10px;
} */
.address .bodyCheck h5.itemCheck {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
}
.address .bodyCheck p.itemCheck,
p.itemCheck {
  font-size: 15px;
  font-weight: 600;
  line-height: 2px;
  letter-spacing: 0;
}
.btnCheck {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.btnCheck:hover {
  outline: none;
  color: rgb(255, 255, 255);
  background-color: black;
}
.inlinebutton {
  /* display: inline-flex; */
  float: left !important;
}
input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 1px solid #333;
  border: 1px solid white;
  width: 10px;
  height: 10px;
  display: inline-flex;
}

input[type="radio"]:checked {
  background: #333;
}

/* .optionAdd {
  margin-top: -3px !important;
} */

/* .optionShipper {
  margin-top: -3px !important;
} */

.optionBank {
  margin-top: -5px !important;
  font-size: 15px;
  font-weight: 900;
}
/* checkout */

/* Register */
.loginRegister {
  font-size: 12px;
}

.register {
  margin-top: 150px;
}

/* .navbar2 {
  padding-top: 60px;
} */
.fa-chevron-right {
  font-size: 10px;
  /* margin-bottom: 5px; */
}
.card {
  margin: auto;
  top: 120px;
  width: 75%;
  background-color: rgba(77, 77, 77, 0.6);
}

.text-light {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

/* form .btn {
  border: 10px;
  font-weight: 600;
} */
.text-white {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  /* margin-top: 70px; */
}

.text-white b {
  color: rgb(65, 65, 65);
  /* background-color: rgba(39, 39, 39, 0.7);
  padding: 5px 10px; */
  /* padding: auto !important; */
}

.row h5 {
  font-weight: 100;
}

.col-md-4 .btn,
.col-md-8 .btn,
.form-control,
.alert,
.account .btn,
.btn {
  border-radius: 0px;
}
.form-control {
  /* border: 1px; */
  height: 50px;
}

.col-md-3 ul {
  padding-left: 0px !important;
  list-style-type: none;
}

/* .col-md-8 .btn {
  border-radius: 0px;
  margin-top: 0px;
} */

.register h6 {
  font-size: 25px;
}

a,
a {
  color: black;
}

a:hover,
a:hover {
  color: rgb(124, 124, 124);
  text-decoration: none;
}

.dropdown-menu {
  border-radius: 0px;
  background-color: gray;
}

.fa-star-of-life {
  color: red;
  font-size: 5px;
}

.alert {
  font-size: 13px;
}

/* Register */

/* Cart */
.cartContainer {
  margin-top: 150px;
  padding: 0px 150px;
}
.cartContainer .header {
  background-color: black;
  color: white;
  font-size: 20px;
  margin-left: auto;
  padding: 10px 10px;
  font-weight: 600;
}
.cartContainer .cart,
.orderSummary {
  border: 1px solid black;
  padding: 0px;
  background-color: rgb(245, 245, 245);
}
.cartContainer .body {
  border-top: 1px solid black;
  margin: -1px 20px;
}
.cartContainer .body .d-flex {
  padding: 20px 20px;
}
.cartContainer .body img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.cartContainer .body .text {
  margin-top: 100px;
  margin-left: 40px;
}
.cartContainer .body h3 {
  font-size: 15px;
  font-weight: 900;
  line-height: 15px;
}
.cartContainer .body p {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
}
.cartContainer .body .product,
div.col-2 {
  margin-top: 10px;
}
.cartContainer .body .product .btnCart {
  font-size: 10px !important;
  width: 100px;
  padding: 6px;
}
.orderSummary .header h5 {
  font-size: 20px !important;
  font-weight: 600;
  color: black;
  margin: 0;
}
.orderSummary .header {
  background-color: rgb(245, 245, 245);
  padding: 0px 20px;
}
.orderSummary .body p {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0;
}
.orderSummary .body .total p {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
}
.orderSummary .btnCheckout {
  width: 300px;
}
.dropCartMenu {
  background-color: white;
}

/* Cart */

/* ModalCart */
.modalCart {
  margin: 120px 280px;
  /* text-align: center; */
  /* border: 1px solid black; */
}

.modalHeader,
.modalBody,
.modalFooter {
  width: 800px;
  background-color: rgb(245, 245, 245);
  border: 0px;
  border-radius: 0px;
}

.modalBody img {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

.dropEditCart {
  padding: 0px 2px 10px 0px;
}
.dropdownCart {
  height: 30px;
  border: 1px solid black;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 900;
  color: white;
  background-color: black;
}
.dropdownCart:hover {
  color: rgb(187, 187, 187);
}
.pEDitCart {
  font-size: 12px;
  font-weight: 900;
}
.btnEditCart {
  font-size: 15px;
  font-weight: 900;
}
.modalCart .modalBody .priceEditCart {
  font-weight: 700;
  color: rgb(255, 168, 53);
}
.dropdownHeader {
  color: black;
  font-weight: 600;
}
/* ModalCart */

/* shop */
.shop {
  margin-top: 100px;
  padding: 0px 20px;
}
.shop label {
  font-size: 13px;
}
.shop input,
input.radiosize {
  margin-right: 5px;
}
.shop .cardshop {
  border: 1px solid white;
  margin-bottom: 10px;
}
div.shop .cardshop:hover {
  border: 1px solid black;
}
.shop .cardshop .imgshop {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.shop .cardshop .textshop {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2px;
}
.dropdownsort,
.dropdownsort:focus {
  width: 120px;
  border: 1px solid rgb(219, 219, 219);
  -webkit-box-shadow: none;
}
.groupbtnfilter {
  margin-top: 10px;
}
.btnfilter {
  width: 95px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 5px;
}
.btnfilter:focus {
  box-shadow: none;
}
.inputsearchshop{
  height: 40px;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box
}
.inputsearchshop:focus, .inputsearchshop:hover{
  outline: none;
  border: 1.5px solid black;
  box-sizing: border-box

}
/* shop */

/* orderuser */
.orderuser {
  border: 1px solid black;
  padding: 20px;
}
.orderuserpayment {
  border: 1px solid black;
  padding: 10px;
}
.btnorderusercancel {
  background-color: transparent;
  border: none;
  color: red;
}
.btnorderusercancel:hover {
  color: grey;
}
.btnorderuserinv {
  padding: 0;
  font-weight: 900;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  color: rgb(37, 37, 37);
}
.btnorderuserinv:hover {
  color: grey;
}
.btnorderuserinv:active,
.btnorderuserinv:focus {
  outline: none;
}
/* .btnorderuser {
  height: 40px;
  margin-top: 0px;
} */
.imgorderuser {
  width: 120px;
  margin: 10px 0;
}
.totalorderuser,
.pmorderuser,
.bankorderuser,
.accountorderuser {
  font-weight: 900;
  line-height: 5px;
  letter-spacing: 0;
}
.totalorderuser {
  font-size: 18px;
  color: orange;
}
.orderuser .orderuserpayment span {
}
.btnorderchange {
  margin-top: 25px;
  color: grey;
  background-color: transparent;
  border: none;
}
.btnorderchange:hover {
  color: rgb(224, 224, 224);
}
.btnorderuser {
  padding: 0 3px;
  height: 30px;
  margin-top: 10px;
}
.droppayment {
  margin-bottom: 25px;
}
.dropchangepayment {
  width: 100% !important;
  background-color: white;
  padding: 0px 20px;
  top: -20px;
}
.dropitempaymnet {
  padding: 15px;
  border-bottom: 1px solid black;
}
/* .btnchangepayment {
  width: 150px;
  margin: 0 10px;
} */
.btnchangepayment {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0 10px;
  width: 150px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.btnchangepayment:hover {
  outline: none;
  color: rgb(255, 255, 255);
  background-color: black;
}
.imgmodalproof {
  width: 100%;
  object-fit: cover;
}
.btnmodalproof {
  width: 200px;
  height: 30px;
  padding: 0;
}
.imgordersadmin {
  width: 80px;
}
/* .droppayment {
  height: 300px;
} */
/* orderuser */

/* orders */
.theadorders {
  font-size: 13px;
  font-weight: 900;
}
.tbodyorders {
  font-size: 10px;
}
.btnorders {
  padding: 0px;
  font-size: 12px;
  width: 60px;
}
.dropdownstatusorder {
  width: 140px;
  height: 30px;
  border: 1px solid black;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 900;
  color: white;
  background-color: black;
}
.dropitemstatusorder {
  height: 20px;
  padding: 5px 10px;
  background-color: white;
  margin-bottom: 5px;
}
.dropmenustatusorder {
  background-color: white;
}
.divdetailsorder {
  /* border-bottom: 1px solid black; */
  margin: 10px 0;
}
.headerdetailsorder {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0px;
  border: 0px;
}
.headerdetailsorder .close {
  color: rgba(255, 255, 255, 1);
}
.bodydetailsorder {
  background-color: rgb(245, 245, 245);
  border-radius: 0px;
  border: 0px;
}
.h3detailsorder {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
}
.pdetailsorder {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 3px;
  text-transform: lowercase;
}
.imgdetailsorder {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}
.valueordersradio{
  font-size: 12px !important;
  letter-spacing: 0;
  padding: 0;
  margin: 0
}
.btnfilterorders{
  border: 1px solid black;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600
}
.btnfilterorders:hover{
  border: 1.5px solid black;
  outline: none;
  background-color: black;
  color: white
}
.btnfilterorders:focus{
  outline: none

}
/* orders */

/* add payment method */
.addpaymnet {
  padding: 5px;
  height: 33px;
  border: 1px solid black;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 900;
  color: black;
}
.addpaymnet:focus,
.addpaymnet:checked {
  box-shadow: none;
  border: 1.5px solid black;
}
.formpayment {
  font-size: 15px;
  font-weight: 900;
}
/* add payment method */

/* Footer */
.footer {
  background-color: rgb(184, 184, 184);
  height: 300px;
  margin-top: 20px;
}

.footerbrand {
  font-size: 30px;
  padding-top: 70px;
}

.footer a:hover {
  color: white;
  font-weight: 600;
}
.footersocial a {
  font-weight: 600;
}
.fa-copyright {
  font-size: 12px;
}
/* Footer */

@media (min-width: 768px) {
  /* body {
    padding: 20px 20px;
  } */
  /* .navbar {
    background-color: rgb(255, 255, 255) !important;
    height: 80px;
    padding: 0px 30px;
    border-bottom: 1px solid black;
  } */
  /* .navbar {
    border-bottom: 5px solid #000;
  } */
  .jumbotron {
    margin-top: 80px !important;
  }
  .carousel {
    margin-top: 80px !important;
  }
  .carousel-caption {
    top: 0;
    margin-top: 30%;
  }
  .card {
    width: 50%;
  }
}
